@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #fdfdfd;
  color: #00004d;
  scroll-behavior: smooth;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px; /* réduit l'épaisseur */
  z-index: 1000;
  height: 70px;
  font-family: 'Pinyon Script', cursive;
}

header .logo {
  font-weight: bold;
  font-size: 1em; /* un peu plus petit */
  color: #444;
}

header .logo img {
  height: 40px;      /* Taille réduite du logo */
  width: auto;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: contain;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px; /* resserré */
}

nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.95em; /* police plus fine */
  color: #00004d; /* couleur fixe */
}

nav a:hover {
  color: #c0392b; /* reste uniquement le hover */
}

nav a:visited,
nav a:active {
  color: #00004d; /* même couleur que par défaut */
}

nav a:hover {
  color: #c0392b;
}



/* Sections */
section {
  min-height: 100vh;
  padding: 100px 20px 50px; /* espace à cause du header */
  text-align: center;
font-family: 'Pinyon Script', cursive;  
}

section:nth-child(even) {
  background: #f8f8f8;
}

h1{
  margin-bottom: 20px;
  color: white;
   font-size: 2.5em; /* Augmente la taille de l'écriture */
   margin-bottom: 10px;
}

/* Countdown */
#countdown {
    background: url('images/Photo_fiancaille.png') no-repeat center center;
    background-size: cover; /* adapte automatiquement l'image */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* plein écran */
    padding: 0 5vw; /* petit padding horizontal sur mobile */
}

.timer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* passe à la ligne si trop petit */
    gap: 2vw; /* espace relatif à l'écran */
    font-size: 3vw; /* taille relative pour s'adapter à l'écran */
    margin-top: 2vh;
}

.timer div {
    width: 15vw; /* largeur relative */
    height: 15vw; /* hauteur relative */
    padding: 1vw;
    border-radius: 50%;
    border: 2px solid white;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer small {
    font-size: 0.5em;
}




button:hover {
  background: #a93226;
}

/*Mairie*/
#mairie{
    background: url('images/Fond_carte.png') no-repeat center center;
    color: #00004d; /* même couleur que par défaut */



}

#mairie h2{
    font-size: 50px;
}


/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}
